html,body
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#LoginBody
{
    width:640px;
    display: flex;
    background-color: var(--loginBody);
    height:500px;
}

#LoginGraphic
{
    width:100%;
    overflow: hidden;
    padding:10px;
}

#LoginGraphicImage
{
    width:100%;
}