#Graph {
  background-color: red;
  width: 300px;
  left: 0;
  position: fixed;
  top: 64px;
  height: 100%;
}

#MainBG
{
  background-image: url("../loginPCB.jpg");
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  background-size: cover;
  filter:blur(3px);
}

#Main {
  width: calc(100% - 600px);
  height: 100%;
  left: 300px;
  position: fixed;
}

#PhotoPreview {
  position: absolute;
  left: calc(50% - 320px);
  border: 3px white solid;
}

#CameraHeader {
  text-align: center;
  font-family: "Libre Barcode 128 Text", system-ui;
}

#CamActivator {
  position: absolute;
  left: calc(50% - 320px);
  width: 640px;
  height: 480px;
  background: radial-gradient(ellipse at top, #000000, transparent), radial-gradient(ellipse at bottom, #cbcbcb, transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

#CameraActText
{
  pointer-events:none;
  color:white;
}

#Information {
  background-color: #2d0922;
    color: #fff;
    font-family: monospace;
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds height */
    white-space: pre-wrap; /* Preserve line breaks */
  width: 300px;
  position: fixed;
  height: 100%;
  right: 0;
  top: 64px;

}

#uploadButton
{
  position: absolute;
  bottom:86px;
  left:calc(50% - 320px);
  display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-family: "Kode Mono", monospace;
    text-decoration: none;
    color: #ffffff;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
}

#uploadButton:hover {
  background-color: #45a049;
  border-color: #45a049;
}

#sendButton
{
  position: absolute;
  bottom:86px;
  right:calc(50% - 320px);
  display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-family: "Kode Mono", monospace;
    text-decoration: none;
    color: #ffffff;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 6px;
    transition: all .3s;
    cursor: pointer;
}

#sendButton:hover {
  background-color: #45a049;
  border-color: #45a049;
}

.locked 
{ 
  background-color: gray !important;
  border-color: gray !important; 
  filter:brightness(50%);
}

#GoodOrBad
{
  position:absolute;
  bottom:0;
  height:200px;
  width:100%;
  left:0;
  background-color: black;
  color:white;
}

.choiceButton
{
  width:100px;
  height:75px;
  font-size: 60px;
  border:none;
  font-family: "Libre Barcode 128 Text", system-ui;
  transition: all .25s;
}

.choiceButton:hover
{
  filter:brightness(150%);
}

.choiceButton:active
{
  filter:brightness(175%);
}


#yes
{
  background-color: #45a049;
}

#no
{
  background-color: #a04545;
}

@media only screen and (max-width: 1240px) {
  #Information {
    display: none;
  }

  #Main {
    left: 300px;
    top: 64px;
    width: calc(100% - 300px);

  }

}

@media only screen and (max-width: 940px) {
  #Graph {
    display: none;
  }

  #Main {
    left: 0px;
    top: 64px;
    width: 100%;
  }

  #PhotoPreview {
    left: calc(50% - 320px);
  }


}